## How to store files to a local computer

In [1]:
import pandas as pd
path= "../data/athlete_events.csv"
data = pd.read_csv(path)

In [2]:
data.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [3]:
path_to_write = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/test.csv"

In [12]:
data.to_csv(path_to_write,index=True)

In [5]:
string = "this is a string"
with open("/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/test1.csv","w") as f:
    f.write(string)

In [8]:
l1 =['a',['b','c','d'],['e','f'],'h','g'] 
l2 = ['a','b','c','d','e','f','h','g']

In [9]:
def check_list(obj):
    return type(obj)!=list

In [10]:
L = []
for l in l1:
    if check_list(l):
        L.append(l)
    else:
        for i in range(len(l)):
            if check_list(l[i]):
                L.append(l[i])

In [11]:
L

['a', 'b', 'c', 'd', 'e', 'f', 'h', 'g']

In [13]:
s = '''Python 

Python is a cross-platform programming language,
which means that it can run on multiple platforms like Windows,
macOS, Linux, and has even been ported to the Java and .NET virtual machines. It is free and open-source.
'''

In [14]:
s[0]

'P'

In [15]:
s[1]

'y'

In [16]:
s[2]

't'

In [18]:
data.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [19]:
data.index

RangeIndex(start=0, stop=271116, step=1)



Use the dataset stored [here](https://drive.google.com/file/d/1YUXYe4L82S3SQW-UETHU85e3vgihCZLC/view?usp=sharing). The description of this dataset can be read from [here](https://drive.google.com/file/d/12HdKoPBbTzgRCIMmYC-ZvCi3328DkuEN/view?usp=sharing)

Answer the questions raised below:
1. How many incidents were reported for the month of March?
    
    A.  54
    B.	45
    C.	35
    D.	25

2. On an average how many hectares of area was destroyed by the fires in the month of August? 
   
    A.	12.48
    B.	12.67
    C.	12.40
    D.	11.48

3. In the month of August, what was the week-day, when the area destroyed in the fires was maximum but the temperature was least.
   
    A.	Monday
    B.	Tuesday
    C.	Thursday
    D.	Wednesday

4. In the month of August, what is the maximum value of ‘rain’ in the 7th decile of wind speed column
   
    A.	5.4
    B.	6.4
    C.	7.2
    D.	5.6

5. Maximum rainfall happened on:
   
    A.	Tuesday
    B.	Monday
    C.	Sunday
    D.	Friday

In [2]:
import pandas as pd
path = "/Users/gunnvantsaini/Downloads/forest_fires.csv"
forest = pd.read_csv(path)

In [3]:
forest.head(2)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

In [5]:
## Q1
forest.query("month=='mar'").shape[0]

54

In [7]:
## Q2
forest.query("month=='aug'")['area'].mean()

12.489076086956521

In [9]:
## ## Q3
forest.query("month=='aug' and day not in ('sat','sun')").sort_values(by=['area','temp'],ascending=[False,True]).head()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0  746.28
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0  185.76
457  1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0   82.75
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0   49.59
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0   46.70

In [10]:
## Q4
forest['wind'].quantile(0.7)

4.9

In [11]:
forest['wind'].quantile(0.6)

4.5

In [14]:
forest.query("wind>4.5 or wind<=4.9 and month=='aug'")['rain'].max()

6.4

In [15]:
## Q5
forest.groupby('day').agg({'rain':'max'})

     rain
day
fri   1.4
mon   0.0
sat   0.0
sun   1.0
thu   0.0
tue   6.4
wed   0.2

In [17]:
forest.sort_values(by='rain',ascending=False)['day'].head(5)

499    tue
509    fri
243    sun
500    tue
501    tue
Name: day, dtype: object

## Problem 2

Use the dataset stored [here](https://drive.google.com/file/d/1WShGELaUTe_NsMvLfDl10OVQJgNgkFwg/view?usp=sharing)

Once you download the data you will end up with a zip file. You will need to unzip it and you will find that there are several csv files. These files contain the data on pollution level collected by IOT sensors. You will observe that many files have same latitude and longitude data. Your task is the following:

1. Find out how many total csv files are there?
2. Club all the files that belong to each location together. One simple way to do this is to generate a dictionary that has lat-longs as keys and files with same location as values.
3. Find out which location has the maximum number of files clubbed together.

In [26]:
import os
import re
pattern = re.compile(r"\.csv$")

In [27]:
path = "/Users/gunnvantsaini/Downloads/pollution"
counter = 0
for file_name in os.listdir(path):
    if len(re.findall(pattern,file_name))!=0:
        counter=counter+1

In [28]:
print(counter)

449

**Create code to print full path to each file**

**Write a function which can read the first line of each file, print out the first line of each file and its name**

In [30]:
os.listdir(path)[0:4]

['pollutionData188013.csv',
 'pollutionData190853.csv',
 'pollutionData190338.csv',
 'pollutionData209748.csv']

In [31]:
"abc"+"def"

'abcdef'

In [32]:
for file_name in os.listdir(path)[0:4]:
    print(path+"/"+file_name)

/Users/gunnvantsaini/Downloads/pollution/pollutionData188013.csv
/Users/gunnvantsaini/Downloads/pollution/pollutionData190853.csv
/Users/gunnvantsaini/Downloads/pollution/pollutionData190338.csv
/Users/gunnvantsaini/Downloads/pollution/pollutionData209748.csv

In [33]:
os.path.join(path,'pollutionData188013.csv')

'/Users/gunnvantsaini/Downloads/pollution/pollutionData188013.csv'

In [48]:
sensor_map = {}
for file_name in os.listdir(path):
    path_file = os.path.join(path,file_name)
    with open(path_file,"r") as f:
        file_contents = f.readlines()
        lat = file_contents[1].split(",")[5]
        lon = file_contents[1].split(",")[6]
        lat_lon = lat+"_"+lon
        if lat_lon not in sensor_map:
            sensor_map[lat_lon] = []
            sensor_map[lat_lon].append(file_name)
        else:
            sensor_map[lat_lon].append(file_name)

```python
{"lat-long_1":["name1","name2"],
"lat_long_2":["name3","name4"]}
```

In [49]:
sensor_map

{'10.182944170639075_56.1589844936963': ['pollutionData188013.csv',
  'pollutionData188066.csv',
  'pollutionData181006.csv'],
 '10.267762215938546_56.22020076302727': ['pollutionData190853.csv',
  'pollutionData190825.csv',
  'pollutionData209907.csv'],
 '10.179336344162948_56.138322977998705': ['pollutionData190338.csv',
  'pollutionData184703.csv',
  'pollutionData190232.csv'],
 '10.189980711639464_56.13458495857738': ['pollutionData209748.csv',
  'pollutionData209721.csv'],
 '10.192906038028696_56.141835968071454': ['pollutionData209774.csv',
  'pollutionData206051.csv',
  'pollutionData206104.csv'],
 '10.179150601188667_56.13844851575673': ['pollutionData209827.csv',
  'pollutionData184675.csv',
  'pollutionData203795.csv'],
 '10.149547918402732_56.170886798880105': ['pollutionData195446.csv',
  'pollutionData195499.csv'],
 '10.176133542327875_56.15591411050229': ['pollutionData188198.csv',
  'pollutionData183117.csv',
  'pollutionData188145.csv'],
 '10.173161614749915_56.210756242190286': ['pollutionData158805.csv'],
 '10.158060728836062_56.14774074192765': ['pollutionData187297.csv',
  'pollutionData184758.csv',
  'pollutionData187244.csv'],
 '10.19604842460626_56.184659561973874': ['pollutionData210146.csv',
  'pollutionData192653.csv'],
 '10.212341355819717_56.187071255964284': ['pollutionData179148.csv'],
 '10.200790644180302_56.18324423193787': ['pollutionData179174.csv'],
 '10.182841611114554_56.15499691392427': ['pollutionData188172.csv',
  'pollutionData181060.csv'],
 '10.141663381614649_56.124304277059785': ['pollutionData197734.csv',
  'pollutionData201749.csv',
  'pollutionData201802.csv'],
 '10.183499758266407_56.149807565419565': ['pollutionData181142.csv'],
 '10.215389695770227_56.161597269074186': ['pollutionData190073.csv',
  'pollutionData178929.csv',
  'pollutionData178901.csv'],
 '10.187763760747885_56.159418709313904': ['pollutionData182846.csv',
  'pollutionData188092.csv',
  'pollutionData187986.csv'],
 '10.206927436840033_56.105069529457616': ['pollutionData201507.csv',
  'pollutionData204166.csv',
  'pollutionData201535.csv'],
 '10.177203408737114_56.13953206657349': ['pollutionData190259.csv',
  'pollutionData190312.csv',
  'pollutionData179119.csv'],
 '10.17926542270186_56.2049938543326': ['pollutionData192466.csv',
  'pollutionData192438.csv'],
 '10.200700790178303_56.1833360361296': ['pollutionData179202.csv',
  'pollutionData185025.csv',
  'pollutionData184972.csv'],
 '10.218120143516558_56.16631645387974': ['pollutionData178875.csv'],
 '10.148353690807198_56.118198830180894': ['pollutionData201881.csv',
  'pollutionData201908.csv',
  'pollutionData197760.csv'],
 '10.241989084655756_56.20043625463636': ['pollutionData190663.csv'],
 '10.182659856483497_56.15898299999999': ['pollutionData181034.csv',
  'pollutionData188119.csv'],
 '10.11966875826647_56.169454614092764': ['pollutionData195041.csv',
  'pollutionData206396.csv',
  'pollutionData206369.csv'],
 '10.130153804893553_56.17941549701764': ['pollutionData193430.csv',
  'pollutionData195843.csv',
  'pollutionData193402.csv'],
 '10.17948788343233_56.13417989322382': ['pollutionData203716.csv',
  'pollutionData203822.csv',
  'pollutionData203769.csv',
  'pollutionData198330.csv',
  'pollutionData203875.csv'],
 '10.109984271163967_56.16459887184971': ['pollutionData195096.csv',
  'pollutionData195124.csv',
  'pollutionData206343.csv',
  'pollutionData195896.csv'],
 '10.277436490737955_56.21163929866206': ['pollutionData190475.csv',
  'pollutionData192760.csv'],
 '10.192906008598356_56.181353258286634': ['pollutionData185078.csv',
  'pollutionData179228.csv',
  'pollutionData185131.csv'],
 '10.1515794551907_56.167867187555736': ['pollutionData195525.csv',
  'pollutionData186953.csv',
  'pollutionData185396.csv',
  'pollutionData179444.csv'],
 '10.18461071717934_56.178623267668705': ['pollutionData204247.csv',
  'pollutionData179282.csv'],
 '10.267323856483472_56.206985193530365': ['pollutionData190501.csv',
  'pollutionData192813.csv'],
 '10.267205839286817_56.207098572394976': ['pollutionData190529.csv'],
 '10.104986076057457_56.23172069428216': ['pollutionData158386.csv',
  'pollutionData158324.csv'],
 '10.186944694442786_56.1457221852484': ['pollutionData181168.csv'],
 '10.228639215938529_56.19765179702361': ['pollutionData190717.csv',
  'pollutionData192972.csv'],
 '10.157709017196566_56.125829583613914': ['pollutionData201934.csv',
  'pollutionData201828.csv',
  'pollutionData197705.csv'],
 '10.167441665012348_56.12004117576438': ['pollutionData203689.csv',
  'pollutionData198167.csv',
  'pollutionData198113.csv',
  'pollutionData203583.csv',
  'pollutionData198085.csv'],
 '10.195804343585905_56.18461478101305': ['pollutionData181197.csv',
  'pollutionData184998.csv',
  'pollutionData185104.csv'],
 '10.096344851520598_56.18546282170713': ['pollutionData195684.csv',
  'pollutionData193322.csv',
  'pollutionData193294.csv'],
 '10.212459373016372_56.18696229571611': ['pollutionData184945.csv',
  'pollutionData192707.csv',
  'pollutionData184892.csv'],
 '10.246642527612721_56.20913963031665': ['pollutionData192840.csv',
  'pollutionData192546.csv',
  'pollutionData210173.csv'],
 '10.162728804893504_56.10986429894997': ['pollutionData203663.csv',
  'pollutionData197814.csv',
  'pollutionData203636.csv',
  'pollutionData197842.csv'],
 '10.10711200000003_56.21731711429131': ['pollutionData158595.csv',
  'pollutionData158446.csv'],
 '10.246299305557386_56.22521120818609': ['pollutionData209986.csv',
  'pollutionData209933.csv'],
 '10.19893292642405_56.1803125039424': ['pollutionData185051.csv',
  'pollutionData181223.csv',
  'pollutionData185157.csv'],
 '10.161757688325906_56.17312782176926': ['pollutionData185290.csv',
  'pollutionData185343.csv',
  'pollutionData179418.csv',
  'pollutionData195472.csv'],
 '10.269670626983498_56.210806441766366': ['pollutionData190879.csv'],
 '10.145073305557275_56.21399075104399': ['pollutionData172156.csv',
  'pollutionData158624.csv',
  'pollutionData171969.csv',
  'pollutionData158565.csv'],
 '10.143036390212956_56.11906158966682': ['pollutionData201855.csv',
  'pollutionData197679.csv',
  'pollutionData201775.csv'],
 '10.20776318039134_56.136738858609256': ['pollutionData204087.csv',
  'pollutionData204034.csv',
  'pollutionData201291.csv',
  'pollutionData201319.csv'],
 '10.178335597553314_56.162369287665825': ['pollutionData188039.csv',
  'pollutionData182820.csv',
  'pollutionData187933.csv'],
 '10.161157250404358_56.208646307573304': ['pollutionData158744.csv',
  'pollutionData172602.csv'],
 '10.21197608217426_56.161017815103236': ['pollutionData190100.csv',
  'pollutionData190047.csv'],
 '10.192723647815683_56.1417522836526': ['pollutionData206131.csv',
  'pollutionData206184.csv'],
 '10.157454995037142_56.13199024175818': ['pollutionData187483.csv',
  'pollutionData187430.csv'],
 '10.161062711639374_56.169148028055325': ['pollutionData186979.csv',
  'pollutionData182738.csv',
  'pollutionData185369.csv',
  'pollutionData182766.csv'],
 '10.209219127208598_56.17243586196818': ['pollutionData187642.csv',
  'pollutionData180818.csv',
  'pollutionData187589.csv'],
 '10.153436152114864_56.17262995803033': ['pollutionData182712.csv',
  'pollutionData185422.csv',
  'pollutionData185316.csv'],
 '10.201447428241636_56.171122550932225': ['pollutionData187695.csv',
  'pollutionData180844.csv',
  'pollutionData187748.csv'],
 '10.093612498182324_56.16718933444926': ['pollutionData194986.csv'],
 '10.202164315973278_56.11692219631463': ['pollutionData206290.csv',
  'pollutionData201237.csv',
  'pollutionData206263.csv'],
 '10.236217525131224_56.205074': ['pollutionData192893.csv',
  'pollutionData190934.csv',
  'pollutionData192946.csv'],
 '10.233619432540877_56.21728389714838': ['pollutionData190908.csv',
  'pollutionData209854.csv'],
 '10.093516609210042_56.16716656043954': ['pollutionData195870.csv',
  'pollutionData195923.csv'],
 '10.186880262565637_56.14251885276732': ['pollutionData206078.csv',
  'pollutionData190020.csv'],
 '10.166163050262412_56.131053962866226': ['pollutionData187509.csv',
  'pollutionData184621.csv'],
 '10.139025504299298_56.153267352820414': ['pollutionData183009.csv'],
 '10.171526038028787_56.17505006362324': ['pollutionData179364.csv'],
 '10.189355309192706_56.18210217593679': ['pollutionData205997.csv',
  'pollutionData204273.csv'],
 '10.062790576721227_56.100713387988804': ['pollutionData197518.csv'],
 '10.116589665412903_56.22579478256016': ['pollutionData158355.csv',
  'pollutionData171572.csv'],
 '10.140579996364522_56.10097260933967': ['pollutionData198005.csv',
  'pollutionData197977.csv'],
 '10.241876431877131_56.20056009742038': ['pollutionData192919.csv',
  'pollutionData190691.csv'],
 '10.142859364417973_56.11919616177176': ['pollutionData197652.csv'],
 '10.113531440475526_56.182637286706964': ['pollutionData195737.csv',
  'pollutionData195790.csv',
  'pollutionData193348.csv',
  'pollutionData193376.csv'],
 '10.1989185595246_56.14063267124548': ['pollutionData179038.csv',
  'pollutionData204113.csv'],
 '10.087895233135214_56.15286327729632': ['pollutionData195286.csv'],
 '10.218303812914883_56.186546268439095': ['pollutionData193185.csv',
  'pollutionData184919.csv',
  'pollutionData178600.csv'],
 '10.228593618385275_56.19774431284465': ['pollutionData193026.csv',
  'pollutionData190744.csv'],
 '10.201616660049467_56.176038754874654': ['pollutionData187721.csv',
  'pollutionData181305.csv',
  'pollutionData187615.csv'],
 '10.208600965029746_56.14472622987757': ['pollutionData201265.csv',
  'pollutionData206449.csv'],
 '10.139060373016491_56.153135887760996': ['pollutionData183037.csv',
  'pollutionData187032.csv',
  'pollutionData187138.csv'],
 '10.21780255092608_56.18290049276627': ['pollutionData187536.csv',
  'pollutionData178767.csv'],
 '10.185844404928275_56.163969409207326': ['pollutionData187907.csv',
  'pollutionData187960.csv',
  'pollutionData180980.csv'],
 '10.157440224536913_56.154610138216704': ['pollutionData187085.csv',
  'pollutionData183091.csv',
  'pollutionData187191.csv',
  'pollutionData183063.csv'],
 '10.194338714120931_56.16945046812791': ['pollutionData180926.csv',
  'pollutionData187801.csv'],
 '10.207060089618722_56.16816672029917': ['pollutionData187668.csv',
  'pollutionData181331.csv',
  'pollutionData187774.csv'],
 '10.15788067857352_56.125743621869944': ['pollutionData187456.csv',
  'pollutionData184595.csv'],
 '10.154132957008414_56.1404960893661': ['pollutionData187324.csv',
  'pollutionData180709.csv'],
 '10.190940219574031_56.18950967440927': ['pollutionData210093.csv',
  'pollutionData192627.csv'],
 '10.303667644180337_56.25625595964834': ['pollutionData190367.csv'],
 '10.072391914016862_56.15457258895634': ['pollutionData197408.csv',
  'pollutionData197355.csv'],
 '10.087875116567602_56.1529230346212': ['pollutionData197434.csv',
  'pollutionData195259.csv'],
 '10.221273033065813_56.175432085860464': ['pollutionData178793.csv'],
 '10.144907008598352_56.21385651069573': ['pollutionData158655.csv',
  'pollutionData158715.csv'],
 '10.198804084655762_56.10480213435411': ['pollutionData204193.csv',
  'pollutionData204140.csv',
  'pollutionData197922.csv'],
 '10.207113017196662_56.117828971777826': ['pollutionData206237.csv',
  'pollutionData201399.csv',
  'pollutionData201427.csv'],
 '10.171611868717264_56.174917180024806': ['pollutionData195418.csv',
  'pollutionData185237.csv',
  'pollutionData179336.csv'],
 '10.186632644180236_56.13959744418457': ['pollutionData190206.csv',
  'pollutionData190153.csv',
  'pollutionData179093.csv'],
 '10.125013142824173_56.23489759702643': ['pollutionData158536.csv',
  'pollutionData172329.csv',
  'pollutionData158475.csv',
  'pollutionData173225.csv'],
 '10.151387677246134_56.16798814878688': ['pollutionData195578.csv',
  'pollutionData180547.csv'],
 '10.166318618385276_56.13096577062022': ['pollutionData184649.csv',
  'pollutionData203742.csv'],
 '10.198852845403735_56.1407940671622': ['pollutionData206157.csv'],
 '10.139154364418005_56.162574351819416': ['pollutionData195552.csv',
  'pollutionData195605.csv'],
 '10.184485323907893_56.17871060412596': ['pollutionData185184.csv',
  'pollutionData179310.csv',
  'pollutionData195365.csv'],
 '10.143520804893456_56.16018043015113': ['pollutionData180573.csv',
  'pollutionData195631.csv'],
 '10.186756880950952_56.14258759218248': ['pollutionData184729.csv',
  'pollutionData190179.csv',
  'pollutionData190285.csv'],
 '10.175406949737521_56.20417258212644': ['pollutionData158865.csv',
  'pollutionData158954.csv'],
 '10.12084169080731_56.178402535294865': ['pollutionData195817.csv',
  'pollutionData195015.csv',
  'pollutionData195764.csv'],
 '10.189857330024779_56.13458495857738': ['pollutionData198301.csv'],
 '10.07666460978703_56.18959388227456': ['pollutionData193268.csv'],
 '10.17614185152047_56.151949698562795': ['pollutionData189967.csv',
  'pollutionData188251.csv',
  'pollutionData184784.csv'],
 '10.213484466270415_56.17405423428392': ['pollutionData180764.csv',
  'pollutionData187562.csv'],
 '10.209020390213027_56.09926842434083': ['pollutionData204219.csv',
  'pollutionData201589.csv',
  'pollutionData201561.csv'],
 '10.187329678573633_56.12994000000001': ['pollutionData198275.csv',
  'pollutionData204007.csv',
  'pollutionData198247.csv',
  'pollutionData203901.csv'],
 '10.204370307865133_56.141823496238665': ['pollutionData179064.csv'],
 '10.154807944774575_55.988031499663315': ['pollutionData201615.csv'],
 '10.218878251485876_56.19371107014121': ['pollutionData193132.csv',
  'pollutionData184866.csv',
  'pollutionData178548.csv'],
 '10.13978019262504_56.21508593264829': ['pollutionData173011.csv',
  'pollutionData158505.csv',
  'pollutionData158415.csv'],
 '10.125912580356612_56.16254304778694': ['pollutionData206422.csv',
  'pollutionData195150.csv',
  'pollutionData195178.csv'],
 '10.175338207340246_56.179322409643085': ['pollutionData195392.csv',
  'pollutionData193213.csv',
  'pollutionData195339.csv'],
 '10.185914784061424_56.12391430736949': ['pollutionData201211.csv',
  'pollutionData203981.csv',
  'pollutionData203954.csv',
  'pollutionData201183.csv'],
 '10.191119927578029_56.18958131478287': ['pollutionData192600.csv'],
 '10.246154466270468_56.22537224883195': ['pollutionData158684.csv',
  'pollutionData209880.csv'],
 '10.153714822090137_56.1102508220387': ['pollutionData203610.csv',
  'pollutionData198059.csv',
  'pollutionData203530.csv'],
 '10.21908612268453_56.19369241581476': ['pollutionData190770.csv',
  'pollutionData193079.csv'],
 '10.149694601188685_56.148158423711955': ['pollutionData187218.csv',
  'pollutionData180655.csv'],
 '10.18616224669654_56.16389697427008': ['pollutionData180952.csv',
  'pollutionData187854.csv'],
 '10.175128_56.20391': ['pollutionData159014.csv'],
 '10.216211542327983_56.19677547153966': ['pollutionData193053.csv',
  'pollutionData193000.csv'],
 '10.143257948409996_56.1601908856982': ['pollutionData180601.csv',
  'pollutionData187006.csv',
  'pollutionData187059.csv'],
 '10.198778699405693_56.18028339302693': ['pollutionData181251.csv'],
 '10.177235595245293_56.13962771141822': ['pollutionData187350.csv',
  'pollutionData187403.csv'],
 '10.131331836805202_56.152757286457955': ['pollutionData182955.csv',
  'pollutionData182983.csv'],
 '10.153508571758266_56.17267848588397': ['pollutionData194931.csv'],
 '10.261365288360594_56.242032790256985': ['pollutionData190799.csv',
  'pollutionData209960.csv'],
 '10.186762304229774_56.14563850929': ['pollutionData206025.csv',
  'pollutionData189994.csv',
  'pollutionData206502.csv'],
 '10.216251775463206_56.196878435033454': ['pollutionData210120.csv',
  'pollutionData210067.csv',
  'pollutionData210013.csv'],
 '10.174677478504236_56.13241046310714': ['pollutionData198139.csv',
  'pollutionData209801.csv'],
 '10.114700495700845_56.10806431410453': ['pollutionData197544.csv',
  'pollutionData197572.csv',
  'pollutionData201669.csv'],
 '10.211722754631069_56.13236396838821': ['pollutionData201373.csv',
  'pollutionData201345.csv'],
 '10.138403402446784_56.17741297116948': ['pollutionData194878.csv'],
 '10.064734635581999_56.152447520476194': ['pollutionData197381.csv',
  'pollutionData195233.csv'],
 '10.182238219573946_56.19920218884512': ['pollutionData192574.csv'],
 '10.182444749668093_56.19922307868954': ['pollutionData210040.csv',
  'pollutionData159043.csv'],
 '10.122408752149568_56.110590119560015': ['pollutionData197626.csv'],
 '10.149874309192683_56.148242094184255': ['pollutionData180627.csv',
  'pollutionData187165.csv',
  'pollutionData187112.csv'],
 '10.201770887067823_56.17606861552515': ['pollutionData181277.csv'],
 '10.259470361936565_56.20496203409241': ['pollutionData190583.csv',
  'pollutionData192866.csv'],
 '10.209275766864721_56.17235120664372': ['pollutionData180790.csv'],
 '10.148131067458962_56.11814500000001': ['pollutionData201961.csv',
  'pollutionData197788.csv',
  'pollutionData203557.csv'],
 '10.124126151537894_56.0855852379219': ['pollutionData197951.csv'],
 '10.183679466270405_56.14984790483175': ['pollutionData181114.csv',
  'pollutionData189941.csv'],
 '10.259584355819698_56.20482701617347': ['pollutionData190555.csv'],
 '10.293740482139583_56.230013292978384': ['pollutionData190421.csv'],
 '10.157658842922274_56.13203209461566': ['pollutionData187377.csv',
  'pollutionData180735.csv'],
 '10.25068287483407_56.2026461982616': ['pollutionData190637.csv'],
 '10.250786139881143_56.20251117218925': ['pollutionData190609.csv',
  'pollutionData210199.csv'],
 '10.182183959489976_56.17389164456407': ['pollutionData185210.csv',
  'pollutionData184813.csv',
  'pollutionData185263.csv',
  'pollutionData193239.csv'],
 '10.269519082174156_56.2107989833621': ['pollutionData192787.csv',
  'pollutionData192734.csv'],
 '10.161186577298167_56.20869704245814': ['pollutionData158924.csv'],
 '10.221176473541277_56.17540521083046': ['pollutionData178821.csv'],
 '10.192792014715224_56.181459995226994': ['pollutionData179256.csv',
  'pollutionData204300.csv'],
 '10.209599775463175_56.14892750591274': ['pollutionData178955.csv',
  'pollutionData178983.csv',
  'pollutionData190126.csv'],
 '10.293955058860774_56.229971546821645': ['pollutionData190393.csv'],
 '10.182616305557303_56.15498346925998': ['pollutionData181088.csv',
  'pollutionData188225.csv'],
 '10.139116813491796_56.1627072781356': ['pollutionData195204.csv'],
 '10.186652602364234_56.170278565367': ['pollutionData187827.csv',
  'pollutionData187880.csv',
  'pollutionData184839.csv'],
 '10.12228671163939_56.11067162844458': ['pollutionData197598.csv',
  'pollutionData201722.csv'],
 '10.169078780426162_56.20103008023493': ['pollutionData190963.csv'],
 '10.186664830688414_56.139477887997344': ['pollutionData206210.csv'],
 '10.17839594725615_56.162446952950255': ['pollutionData182792.csv'],
 '10.223110775463056_56.190387445286476': ['pollutionData193106.csv',
  'pollutionData192681.csv',
  'pollutionData193159.csv'],
 '10.13969570304107_56.2149789163549': ['pollutionData158895.csv',
  'pollutionData173118.csv'],
 '10.138347076057471_56.17734056158762': ['pollutionData194905.csv'],
 '10.180056017196648_56.12437832738177': ['pollutionData198221.csv',
  'pollutionData203848.csv',
  'pollutionData198193.csv',
  'pollutionData203928.csv'],
 '10.101720288360639_56.18271715899992': ['pollutionData195711.csv',
  'pollutionData195658.csv'],
 '10.083678288360602_56.11996007421442': ['pollutionData197489.csv',
  'pollutionData201643.csv',
  'pollutionData201696.csv'],
 '10.207854230653766_56.114487000000004': ['pollutionData201453.csv',
  'pollutionData206316.csv',
  'pollutionData201481.csv'],
 '10.218124775463139_56.18655111946821': ['pollutionData178713.csv'],
 '10.2121812711639_56.16107681293822': ['pollutionData182683.csv'],
 '10.066129804893535_56.121379546124246': ['pollutionData197463.csv'],
 '10.20872971106246_56.144719132186395': ['pollutionData179009.csv'],
 '10.167189431877205_56.21831017223658': ['pollutionData158776.csv'],