## File objects
- How to read files (text) files using `open()`
- How to read files and manipulate data using `csv` module
- How to handle raw json files and convert them into a table

In [1]:
path=r"/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/file_data.csv"
con = open(path,"r")

r-> read connection

w -> write

rb->read binary

wb->write binary

In [2]:
data = con.read()

In [3]:
con.close()

In [4]:
type(data)

str

In [5]:
data[0:1000] ## fetch data for row 2.

',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner\n1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner\n2,52,2021-06-17 07:09:48.861997+00:00,0,1,1min,2021-06-17,7,9,1,reitan_7eleven_carlberner\n3,52,2021-06-17 07:10:40.197648+00:00,1,0,1min,2021-06-17,7,10,1,reitan_7eleven_carlberner\n4,52,2021-06-17 07:11:49.664105+00:00,0,1,1min,2021-06-17,7,11,1,reitan_7eleven_carlberner\n5,52,2021-06-17 07:14:20.731722+00:00,1,0,1min,2021-06-17,7,14,1,reitan_7eleven_carlberner\n6,52,2021-06-17 07:16:27.575491+00:00,0,1,1min,2021-06-17,7,16,1,reitan_7eleven_carlberner\n7,52,2021-06-17 07:17:21.919449+00:00,1,0,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner\n8,52,2021-06-17 07:17:52.122774+00:00,0,1,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner\n9,52,2021-06-17 07:19:58.885012+00:00,1,0,1min,2021-06-17,7,19,1,reitan_7eleven_carlberner\n10,52,2021-06-17'

In [9]:
data[0:1000].split("\n")[2]

'1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner'

In [11]:
data[0:1000].split("\n")[2].split(",")[1]

'52'

In [6]:
print(data[0:1000])

,sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name
0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner
1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner
2,52,2021-06-17 07:09:48.861997+00:00,0,1,1min,2021-06-17,7,9,1,reitan_7eleven_carlberner
3,52,2021-06-17 07:10:40.197648+00:00,1,0,1min,2021-06-17,7,10,1,reitan_7eleven_carlberner
4,52,2021-06-17 07:11:49.664105+00:00,0,1,1min,2021-06-17,7,11,1,reitan_7eleven_carlberner
5,52,2021-06-17 07:14:20.731722+00:00,1,0,1min,2021-06-17,7,14,1,reitan_7eleven_carlberner
6,52,2021-06-17 07:16:27.575491+00:00,0,1,1min,2021-06-17,7,16,1,reitan_7eleven_carlberner
7,52,2021-06-17 07:17:21.919449+00:00,1,0,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
8,52,2021-06-17 07:17:52.122774+00:00,0,1,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
9,52,2021-06-17 07:19:58.885012+00:00,1,0,1min,2021-06-17,7,19,1,reitan_7eleven_carlberner
10,52,2021-06-17

In [12]:
con = open(path,"r")
data = con.readlines()
con.close()

In [13]:
type(data)

list

In [14]:
data[0:5]

[',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n',
 '0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner\n',
 '1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner\n',
 '2,52,2021-06-17 07:09:48.861997+00:00,0,1,1min,2021-06-17,7,9,1,reitan_7eleven_carlberner\n',
 '3,52,2021-06-17 07:10:40.197648+00:00,1,0,1min,2021-06-17,7,10,1,reitan_7eleven_carlberner\n']

In [24]:
### write a function to get only the column names?
def get_columns(data):
    return data[0].strip().split(",")

In [25]:
get_columns(data)

['',
 'sensor_id',
 'time',
 'incoming',
 'outgoing',
 'range',
 'date',
 'hour',
 'minute',
 'total',
 'location_name']

### Store the data in separate lists for:
- sensor_id
- time
- incoming
- ...

In [30]:
sensor_id = []
time = []
incoming = []
outgoing = []
Range = []
date = []
hr = []
minute = []
total = []
loc = []
for row in data[1:]:
    row_vals = row.strip().split(",")
    sensor_id.append(int(row_vals[1]))
    time.append(row_vals[2])
    incoming.append(int(row_vals[3]))
    outgoing.append(int(row_vals[4]))
    Range.append(row_vals[5])
    date.append(row_vals[6])
    hr.append(row_vals[7])
    minute.append(row_vals[8])
    total.append(row_vals[9])
    loc.append(row_vals[10])

In [41]:
d = {}
for i in get_columns(data):
    d[i] = []

In [42]:
d

{'': [],
 'sensor_id': [],
 'time': [],
 'incoming': [],
 'outgoing': [],
 'range': [],
 'date': [],
 'hour': [],
 'minute': [],
 'total': [],
 'location_name': []}

In [38]:
l1=['a','b','c']
l2 = ['d','e','f']
for v1,v2 in zip(l1,l2):
    print(v1,v2)

a d
b e
c f

In [43]:
d = {}
for i in get_columns(data):
    d[i] = []
for row in data[1:]:
    row_values = row.split(",")
    for val,col_name in zip(row_values,get_columns(data)):
        d[col_name].append(val)

In [48]:
col_name = ['age','name','gender']
row =[26,'abc','f']
for name,val in zip(col_name,row):
    print(name,val)

age 26
name abc
gender f

### Count the number of times the outgoing was more than incoming

In [53]:
count = 0
for In, Out in zip(incoming,outgoing):
    if Out>In:
        count = count+1
print(count)

426

### Find the average of the column total from 11PM to 11:45 PM on 2021-06-18?

In [65]:
## total, date, hour and minute
## Average = sum(total)/n, counter
c=0
tot = 0
for t,d,h,m in zip(total,date,hr,minute):
    if d == '2021-06-18' and int(h)==23 and int(m)<=45:
        c=c+1
        tot=tot+int(t)

In [66]:
c

5

In [67]:
tot

5

In [68]:
tot/c

1.0

### `csv` module

In [69]:
import csv

```python
con = open(path,"r")
....
con.close
```

In [71]:
with open(path,"r") as con:
    data1 = con.read()
## I don't have to close the connection manually

In [72]:
counter = 0
with open(path,"r") as con:
    reader = csv.reader(con,delimiter = ",")
    for row in reader:
        counter = counter+1
        print(row)
        if counter == 5:
            break

['', 'sensor_id', 'time', 'incoming', 'outgoing', 'range', 'date', 'hour', 'minute', 'total', 'location_name']
['0', '52', '2021-06-17 07:07:11.937082+00:00', '0', '2', '1min', '2021-06-17', '7', '7', '2', 'reitan_7eleven_carlberner']
['1', '52', '2021-06-17 07:07:51.166361+00:00', '1', '0', '1min', '2021-06-17', '7', '7', '1', 'reitan_7eleven_carlberner']
['2', '52', '2021-06-17 07:09:48.861997+00:00', '0', '1', '1min', '2021-06-17', '7', '9', '1', 'reitan_7eleven_carlberner']
['3', '52', '2021-06-17 07:10:40.197648+00:00', '1', '0', '1min', '2021-06-17', '7', '10', '1', 'reitan_7eleven_carlberner']

In [74]:
counter = 0
with open(path,"r") as con:
    reader = csv.DictReader(con,delimiter = ",")
    for row in reader:
        counter = counter+1
        print(row['time'],row['incoming'],row['range'])
        if counter == 5:
            break

2021-06-17 07:07:11.937082+00:00 0 1min
2021-06-17 07:07:51.166361+00:00 1 1min
2021-06-17 07:09:48.861997+00:00 0 1min
2021-06-17 07:10:40.197648+00:00 1 1min
2021-06-17 07:11:49.664105+00:00 0 1min

In [76]:
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/tweets_assignment.txt"
counter = 0
with open(path,"r") as con:
    reader = csv.DictReader(con,delimiter = "|")
    for row in reader:
        counter = counter+1
        print(row)
        if counter == 5:
            break

{'Tweet_Date': 'Thu Dec 26 123415 0000 2013', 'Tweet_Text': 'ashdubey ratigirl FirstpostBiz First economic move by AamAadmiParty  How come it has gone down in Guj', 'Tweet_Handle': 'maverickenator'}
{'Tweet_Date': 'Thu Dec 26 123413 0000 2013', 'Tweet_Text': 'RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam', 'Tweet_Handle': 'aapkask'}
{'Tweet_Date': 'Thu Dec 26 123402 0000 2013', 'Tweet_Text': 'RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam', 'Tweet_Handle': 'arpshalder'}
{'Tweet_Date': 'Thu Dec 26 123354 0000 2013', 'Tweet_Text': 'ArvindKejriwal AapYogendra AamAadmiParty I hope your party realizes why the likes of alkalamba are trying to join AAP now Be careful', 'Tweet_Handle': 'GargaC'}
{'Tweet_Date': 'Thu Dec 26 123351 0000 2013', 'Tweet_Text': 'RT ssttuuttii Press Conference AamAadmiParty Application form for candidature for LS2014 is being uploaded at website AAP4India http', 'Tweet_Handle': 'kejriwalfanclub'}

In [88]:
### Find out the distinct/unique days peresent in the "Tweet Date column"
Days = []
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/tweets_assignment.txt"
with open(path,"r") as con:
    reader = csv.DictReader(con,delimiter = "|")
    for row in reader:
        day_list = row['Tweet_Date'].split()[0:3]
        day_vals = day_list[0]+" "+day_list[1]+" "+day_list[2]
        if day_vals not in Days:
            Days.append(day_vals)

In [87]:
set(Days) ## if we populate the list with all row values

{'Mon Dec 23', 'Thu Dec 26', 'Tue Dec 24', 'Wed Dec 25'}

In [89]:
Days

['Thu Dec 26', 'Wed Dec 25', 'Tue Dec 24', 'Mon Dec 23']

In [96]:
counts = {k:0 for k in Days}

In [97]:
counts

{'Thu Dec 26': 0, 'Wed Dec 25': 0, 'Tue Dec 24': 0, 'Mon Dec 23': 0}

In [98]:
## Count how many tweets were done in each day
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/tweets_assignment.txt"
with open(path,"r") as con:
    reader = csv.DictReader(con,delimiter = "|")
    for row in reader:
        if row['Tweet_Date'].startswith("Thu Dec 26"):
            counts['Thu Dec 26']=counts['Thu Dec 26']+1
        if row['Tweet_Date'].startswith("Wed Dec 25"):
            counts['Wed Dec 25']=counts['Wed Dec 25']+1
        if row['Tweet_Date'].startswith("Tue Dec 24"):
            counts['Tue Dec 24']=counts['Tue Dec 24']+1
        if row['Tweet_Date'].startswith("Mon Dec 23"):
            counts['Mon Dec 23']=counts['Mon Dec 23']+1

In [99]:
counts

{'Thu Dec 26': 1999,
 'Wed Dec 25': 3103,
 'Tue Dec 24': 4079,
 'Mon Dec 23': 5092}

### JSON Data

In [100]:
import json

In [101]:
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/sample_json.json"

In [104]:
with open(path,"r",encoding="utf-8") as con:
    raw_data = con.read()

In [107]:
type(raw_data)

str

In [108]:
data=json.loads(raw_data)

In [109]:
type(data)

dict

In [111]:
data['type']

'FeatureCollection'

In [112]:
data.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [113]:
data['metadata']

{'generated': 1626859520000,
 'url': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson',
 'title': 'USGS All Earthquakes, Past Hour',
 'status': 200,
 'api': '1.10.3',
 'count': 14}

In [115]:
type(data['features'])

list

In [117]:
len(data['features'])

14

In [116]:
data['features'][0]

{'type': 'Feature',
 'properties': {'mag': 2.1500001,
  'place': '3 km ENE of Pāhala, Hawaii',
  'time': 1626859250480,
  'updated': 1626859447300,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/hv72595567',
  'detail': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/hv72595567.geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'automatic',
  'tsunami': 0,
  'sig': 71,
  'net': 'hv',
  'code': '72595567',
  'ids': ',hv72595567,',
  'sources': ',hv,',
  'types': ',origin,phase-data,',
  'nst': 44,
  'dmin': None,
  'rms': 0.100000001,
  'gap': 113,
  'magType': 'md',
  'type': 'earthquake',
  'title': 'M 2.2 - 3 km ENE of Pāhala, Hawaii'},
 'geometry': {'type': 'Point',
  'coordinates': [-155.451171875, 19.2175006866455, 35.3600006103516]},
 'id': 'hv72595567'}

In [121]:
## Magnitude, url and name of place
for i in data['features']:
    print(i['properties']['mag'])

2.1500001
1.71
2.16000009
1.2
1
1.62
0.9
1.7
1.45
1
0.8
2.04
1.1
0.38