## Data pull from Reviews table
- What features can be derived from the reviews table?

In [1]:
%load_ext sql
%sql sqlite:///../data/sample_db/airbnb.db

'Connected: @../data/sample_db/airbnb.db'

In [2]:
%%sql
select * from reviews limit 5;

 * sqlite:///../data/sample_db/airbnb.db
Done.

[(1, 50904, '2015-05-06 00:00:00.000000', 19482395, 'Jihae', 'Karin’s “Aplace” is absolutely beautiful and cozy boutique hotel in the center of Antwerp. The Host, Karin is an amazing, warm and kind person who tr ... (120 characters truncated) ... f retro and modern style - I was so amazed about all of elegant details. The place is very close to almost everything in Antwerp. I highly recommend!'),
 (2, 50904, '2021-10-10 00:00:00.000000', 333559, 'Emilie', 'Karin is a wonderful host, she was really helpful ! Highly recommended for a stay in Antwerp.'),
 (3, 116134, '2012-03-05 00:00:00.000000', 928644, 'Aurélien', 'Amazing flat, really close from the MAS Musem, and 15 minutes walking from the Cathedral. \r<br/>Really calm, many space and light, perfect for 2 cou ... (33 characters truncated) ... />Antwerpen is a really nice city to walk around and chill in cosy cafés.\r<br/>Check out the coolest places here: (Website hidden by Airbnb) \r<br/>'),
 (4, 116134, '2012-05-25 00:00:00.000000', 231288, 'Gail', 'This is a well equipped, very comfortable apartment --- the host has thought of everything.... all the kitchen equipment imaginable.  The apartment i ... (245 characters truncated) ...  to the river for walking.  There is a convenient bus for getting to central station for day trips in Belgium.  This was a very enjoyable experience.'),
 (5, 116134, '2013-09-03 00:00:00.000000', 7984251, 'Marcel', "This is a very nice appartement. We really liked the the modern interior of the appartement. It's a clean, pleasant and very comfortable place to sta ... (91 characters truncated) ... kes just around the corner.\r<br/>\r<br/>Paul is a great host. It was a pleasure to stay in this apartment.\r<br/>\r<br/>Regards,\r<br/>\r<br/>Marcel")]

#### One feature could be to look at the total number of reviews per listing till date

In [3]:
%%sql
select
    listing_id,
    count(listing_id) as tot_reviews
    from reviews
group by listing_id
order by tot_reviews
desc
limit 5;

 * sqlite:///../data/sample_db/airbnb.db
Done.

[(4502646, 648),
 (8766126, 564),
 (1901179, 463),
 (8587634, 447),
 (28693154, 394)]

#### Another feature could be to look at the numner of reviews per listing in past 30 days

In [4]:
%%sql
with table_diff as
    (select
         review_id,
         listing_id,
         date,
         julianday(date) -julianday(strftime("%Y-%m-%d","2021-11-26"))as diff
     from reviews)
select 
    listing_id,
    date,
    diff
from table_diff
where diff<=30 and diff>0
limit 5;

 * sqlite:///../data/sample_db/airbnb.db
Done.

[(116134, '2021-12-18 00:00:00.000000', 22.0),
 (224682, '2021-12-05 00:00:00.000000', 9.0),
 (224682, '2021-12-14 00:00:00.000000', 18.0),
 (224682, '2021-12-17 00:00:00.000000', 21.0),
 (224682, '2021-12-19 00:00:00.000000', 23.0)]

#### Use the snippet above to build on a query that can fetch the required information

In [5]:
%%sql
with table_diff as
    (select
         review_id,
         listing_id,
         date,
         julianday(date) - julianday(strftime("%Y-%m-%d","2021-11-26"))as diff
     from reviews)
select 
    listing_id,
    count(listing_id) as num_reviews_30
from table_diff
where diff<=30 and diff>0
group by listing_id
order by num_reviews_30 desc
limit 5;

 * sqlite:///../data/sample_db/airbnb.db
Done.

[(50455820, 11),
 (47593160, 11),
 (29683668, 11),
 (28693154, 11),
 (53250815, 10)]