## File objects
- Read and manipulate files using `open()`

In [1]:
path = r"/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/file_data.csv"
file = open(path,"r")
data_string = file.read() ## this will read the content of the file
file.close()

```python
open(path,"r") ===> read mode
open(path,"w") ===> write mode
open(path,"rb") ====> read binary 
open(path,"wb") ====> write binary
     
```

In [2]:
type(data_string)

str

In [3]:
print(data_string[0:1000])

,sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name
0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner
1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner
2,52,2021-06-17 07:09:48.861997+00:00,0,1,1min,2021-06-17,7,9,1,reitan_7eleven_carlberner
3,52,2021-06-17 07:10:40.197648+00:00,1,0,1min,2021-06-17,7,10,1,reitan_7eleven_carlberner
4,52,2021-06-17 07:11:49.664105+00:00,0,1,1min,2021-06-17,7,11,1,reitan_7eleven_carlberner
5,52,2021-06-17 07:14:20.731722+00:00,1,0,1min,2021-06-17,7,14,1,reitan_7eleven_carlberner
6,52,2021-06-17 07:16:27.575491+00:00,0,1,1min,2021-06-17,7,16,1,reitan_7eleven_carlberner
7,52,2021-06-17 07:17:21.919449+00:00,1,0,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
8,52,2021-06-17 07:17:52.122774+00:00,0,1,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
9,52,2021-06-17 07:19:58.885012+00:00,1,0,1min,2021-06-17,7,19,1,reitan_7eleven_carlberner
10,52,2021-06-17

In [6]:
file = open(path,"r")
data_lines = file.readlines()
file.close()

In [7]:
type(data_lines)

list

In [9]:
data_lines[0:3]

[',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n',
 '0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner\n',
 '1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner\n']

In [10]:
## Extract column names?
data_lines[0]

',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n'

In [19]:
data_lines[0].strip().split(",")

['',
 'sensor_id',
 'time',
 'incoming',
 'outgoing',
 'range',
 'date',
 'hour',
 'minute',
 'total',
 'location_name']

In [20]:
data_lines[0]

',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n'

```python
def get_values(row:str)->list:
    pass
```

In [21]:
from utils import get_values

In [22]:
### Store the values of each column in a separate list. You can use the function you've just defined.
get_values(data_lines[1])

['0',
 '52',
 '2021-06-17 07:07:11.937082+00:00',
 '0',
 '2',
 '1min',
 '2021-06-17',
 '7',
 '7',
 '2',
 'reitan_7eleven_carlberner']

In [25]:
sensor_id = []
time = []
incoming = []
outgoing = []
rng = []
date = []
hr = []
mnt = []
total = []
loc = []
for row in data_lines[1:]:
    vals = get_values(row)
    sensor_id.append(vals[1])
    time.append(vals[2])
    incoming.append(vals[3])
    outgoing.append(vals[4])
    rng.append(vals[5])
    date.append(vals[6])
    hr.append(vals[7])
    mnt.append(vals[8])
    total.append(vals[9])
    loc.append(vals[10])

### Count the number of times the outgoing was more than incoming?

In [28]:
l1 = [1,2,3,4,5]
l2 = [5,4,3,2,1]
for i,j in zip(l1,l2):
    print(i,j)

1 5
2 4
3 3
4 2
5 1

In [37]:
counter = 0
for out,inc in zip(outgoing,incoming):
    if int(out)>int(inc):
        counter = counter+1
print(counter)

426

### Find the average of the column total from 11 PM to 11:45 PM on 2021-06-18?

In [40]:
counter = 0
tot = []
for d,h,m,t in zip(date,hr,mnt,total):
    if d == "2021-06-18" and int(h) == 23 and int(m)<=45:
        counter = counter+1
        tot.append(t)

In [43]:
t = 0
for val in tot:
    t = t+int(val)
t

5

In [42]:
counter

5

In [44]:
t/counter

1.0

### Working with flat files

- csv module to make the task of reading and writting files easier
- json files and how to process them
- intro to oops in python

```python
f = open() ## file handler has to be closed
f.close()
```

In [47]:
with open(path,"r") as f: ## Using a context manager, 
    data = f.readlines()

#### `csv` module to read flat files

In [48]:
import csv

In [50]:
counter = 0
with open(path,"r") as f:
    r = csv.reader(f,delimiter = ",")
    for row in r:
        counter+=1
        print(row)
        if counter == 5:
            break

['', 'sensor_id', 'time', 'incoming', 'outgoing', 'range', 'date', 'hour', 'minute', 'total', 'location_name']
['0', '52', '2021-06-17 07:07:11.937082+00:00', '0', '2', '1min', '2021-06-17', '7', '7', '2', 'reitan_7eleven_carlberner']
['1', '52', '2021-06-17 07:07:51.166361+00:00', '1', '0', '1min', '2021-06-17', '7', '7', '1', 'reitan_7eleven_carlberner']
['2', '52', '2021-06-17 07:09:48.861997+00:00', '0', '1', '1min', '2021-06-17', '7', '9', '1', 'reitan_7eleven_carlberner']
['3', '52', '2021-06-17 07:10:40.197648+00:00', '1', '0', '1min', '2021-06-17', '7', '10', '1', 'reitan_7eleven_carlberner']

In [55]:
counter = 0
with open(path,"r") as f:
    r = csv.DictReader(f,delimiter = ",")
    for row in r:
        counter += 1
        print(row['date'],row['outgoing'])
        if counter == 5:
            break

2021-06-17 2
2021-06-17 0
2021-06-17 1
2021-06-17 0
2021-06-17 1

## Class Assignment

- Use the data tweets_assignment.txt

- Find out how many tweets were tweeted on each day, i.e. how many tweets were made on 26th December, how many on 25th December and so on.

In [59]:
counter = {'Dec 26':0,'Dec 25':0,"Dec 24":0,'Dec 23':0}
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/tweets_assignment.txt"
with open(path,"r") as f:
    r = csv.DictReader(f,delimiter = "|")
    for row in r:
        if row['Tweet_Date'].startswith("Thu Dec 26"):
            counter['Dec 26']+=1

In [60]:
counter

{'Dec 26': 1999, 'Dec 25': 0, 'Dec 24': 0, 'Dec 23': 0}

In [70]:
dates = []
with open(path,"r") as f:
    r = csv.DictReader(f,delimiter = "|")
    for row in r:
        dates.append(",".join(row['Tweet_Date'].split(" ")[1:3]))

In [73]:
c = {}
for i in list(set(dates)):
    c[i] = 0

In [74]:
c

{'Dec,25': 0, 'Dec,26': 0, 'Dec,23': 0, 'Dec,24': 0}

### JSON data

- Reading json data 
    - 1. Read the raw json as a string 
    - 2. System library to convert the string into a python dict

In [79]:
## Read the raw json as a string
path = "/Users/gunnvantsaini/Library/CloudStorage/OneDrive-Personal/Work/Vired/Content/corp_trainings/tiger_analytics/data/sample_json.json"
with open(path,"r",encoding="utf-8") as f:
    raw_json = f.read()

In [77]:
raw_json[0:1000]

'{\n  "type": "FeatureCollection",\n  "metadata": {\n    "generated": 1626859520000,\n    "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson",\n    "title": "USGS All Earthquakes, Past Hour",\n    "status": 200,\n    "api": "1.10.3",\n    "count": 14\n  },\n  "features": [\n    {\n      "type": "Feature",\n      "properties": {\n        "mag": 2.1500001,\n        "place": "3 km ENE of Pāhala, Hawaii",\n        "time": 1626859250480,\n        "updated": 1626859447300,\n        "tz": null,\n        "url": "https://earthquake.usgs.gov/earthquakes/eventpage/hv72595567",\n        "detail": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/hv72595567.geojson",\n        "felt": null,\n        "cdi": null,\n        "mmi": null,\n        "alert": null,\n        "status": "automatic",\n        "tsunami": 0,\n        "sig": 71,\n        "net": "hv",\n        "code": "72595567",\n        "ids": ",hv72595567,",\n        "sources": ",hv,",\n        "types": ",origin,phase-data,",\n        "nst'

In [80]:
import json

In [81]:
json_data = json.loads(raw_json)

In [82]:
type(json_data)

dict

In [83]:
type(raw_json)

str

In [87]:
json_data['type']

'FeatureCollection'

In [88]:
json_data['metadata']

{'generated': 1626859520000,
 'url': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson',
 'title': 'USGS All Earthquakes, Past Hour',
 'status': 200,
 'api': '1.10.3',
 'count': 14}

In [106]:
mag = []
loc = []
lat = []
lon = []
for row in json_data['features']:
    mag.append(row['properties']['mag'])
    loc.append(row['properties']['place'])
    lat.append(row['geometry']['coordinates'][1])
    lon.append(row['geometry']['coordinates'][2])

In [118]:
json_data['features'][0]['properties']['mag']

2.1500001

In [121]:
json_data['features'][0]['properties']['place']

'3 km ENE of Pāhala, Hawaii'

In [125]:
json_data['features'][0]['geometry']['coordinates'][1]

19.2175006866455

In [126]:
json_data['features'][0]['geometry']['coordinates'][2]

35.3600006103516

In [131]:
json_data['features'][0]

{'type': 'Feature',
 'properties': {'mag': 2.1500001,
  'place': '3 km ENE of Pāhala, Hawaii',
  'time': 1626859250480,
  'updated': 1626859447300,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/hv72595567',
  'detail': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/hv72595567.geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'automatic',
  'tsunami': 0,
  'sig': 71,
  'net': 'hv',
  'code': '72595567',
  'ids': ',hv72595567,',
  'sources': ',hv,',
  'types': ',origin,phase-data,',
  'nst': 44,
  'dmin': None,
  'rms': 0.100000001,
  'gap': 113,
  'magType': 'md',
  'type': 'earthquake',
  'title': 'M 2.2 - 3 km ENE of Pāhala, Hawaii'},
 'geometry': {'type': 'Point',
  'coordinates': [-155.451171875, 19.2175006866455, 35.3600006103516]},
 'id': 'hv72595567'}